name: Release

on:
  push:
    tags: [v*]

jobs:
  release:
    outputs:
      repo: ${{ steps.repo.outputs.repo }}
      digest: ${{ steps.build-push.outputs.digest }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write # for pushing
      id-token: write # for signing
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0
    - uses: sigstore/cosign-installer@d58896d6a1865668819e1d91763c7751a165e159 # v3.9.2
    - uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      id: buildx
    - uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # v3.5.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - run: echo git_tag=$(echo $GITHUB_REF | awk -F'/' '{print $3}') >> $GITHUB_ENV
    - run: echo semver=${git_tag#v} >> $GITHUB_ENV
    - run: echo repo=ghcr.io/$repo >> $GITHUB_OUTPUT
      id: repo
      env:
        repo: ${{ github.repository }}
    - run: echo tag=$repo:$semver >> $GITHUB_OUTPUT
      id: tag
      env:
        repo: ${{ steps.repo.outputs.repo }}

    - uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
      id: build-push
      with:
        context: .
        push: true
        sbom: true
        provenance: true
        platforms: linux/amd64,linux/arm64
        tags: ${{ steps.tag.outputs.tag }}
        builder: ${{ steps.buildx.outputs.name }}
    - run: cosign sign --yes ${repo}@${digest}
      env:
        repo: ${{ steps.repo.outputs.repo }}
        digest: ${{ steps.build-push.outputs.digest }}
  slsa:
    needs: [release]
    permissions:
      contents: read
      actions: read
      id-token: write
      packages: write
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_container_slsa3.yml@v2.1.0
    with:
      image: ${{ needs.release.outputs.repo }}
      digest: ${{ needs.release.outputs.digest }}
      registry-username: ${{ github.actor }}
    secrets:
      registry-password: ${{ secrets.GITHUB_TOKEN }}
